.form{
    padding: 20px;
    width: 85%;
    height: 75%;
    margin:30px auto;
    display:block;
    background: rgb(126, 77, 42);
    -webkit-box-shadow: 10px 10px 5px 0px;
}

h1{
    text-align: center;
}

h1, fieldset{
    color: white;
}

img{
    margin:10px auto;
    display:block;
    width: 200px;
    height: 200px;
}

fieldset{
    padding: 20px;
}

#boton{
    margin:20px auto;
    display:block;
    padding: 20px;
}